{extends '../base/base.latte'}

{block body}
  <img style="position: absolute;
left: 0;
right: 0;
top: 0;
width: 98.8vw;" src="../../resources/img/bg2.jpg" alt="">
	{include '../components/viajes.latte'}
	
{/block}

{block scripts}
	<script src="js/popover.js"></script>
{/block}
